<ul class="container">
    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide thumbnail">
      <div class="carousel-inner">

<%var i = 0; 
_.each( images, function(image)  { %>
        <div class="item <%= i == 0 ? "active" : "" %> ">
          <img <%= i < 2 ? "src" : "data-lazy-load-src"%>="<%=image.location%>" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1><%=image.title%></h1>
              <p class="lead"><%=image.description%></p>
            </div>
          </div>
        </div>
<%
i ++;
})%>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div><!-- /.carousel -->
</ul>