<link rel="stylesheet" href="/assets/css/bootstrap-image-gallery.css">
<link href="/assets/js/libs/bootstrap-editable/css/bootstrap-editable.css" rel="stylesheet">
<ul class="breadcrumb">
  <li><a href="#/mygallery/cat/0">我的相册</a> <%= needDivider ? "<span class='divider'>/</span>" : ""%></li>
<%var i = 0;
_.each( catParents, function(parent) { %>
  <li><a href="#/mygallery/cat/<%=parent.id%>"><%=parent.title%></a> <span class="divider">/</span></li>
<%});%>
  <li><a href="#/mygallery/cat/<%=currentCat.id%>"><%=currentCat.title%></a></li>
  <ul class="pull-right">
<%if (currentCat.id != null ) {%>
  <a class="btn btn-success btn-small" id="addImgs">添加照片</a>
<%}%>
  <a class="btn btn-success btn-small" id="addCat">创建新相册</a>
  </ul>
</ul>
<div id="gallerymain">
<%var i = 0;
_.each( categories, function(category) { %>
<%if ( i % 4 == 0 ) {%>
<div class="row-fluid">
	<ul class="thumbnails container">
<%}
i ++;
%>
	  <li class="span3"><a href="#/mygallery/cat/<%=category.id%>">
	    <div class="thumbnail  <%=category.status == 0 ? "" : "status_notpublic"%>"">
	      <img src="<%=category.thumbnail%>" alt="" class="img-polaroid">
	      <h4><%=category.title%>
	      
			<li id="fat-menu" class="dropdown pull-right">
			  <a href="#" id="drop3" role="button" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-th"></i><b class="caret"></b></a>
			  <ul class="dropdown-menu" role="menu" aria-labelledby="drop2">
			    <li><a href="#" data-id="<%=category.id%>" class="deleteCat"><i class="icon-trash"></i>删除</a></li>
			    <li><a href="#" data-id="<%=category.id%>" data-status="<%=category.status%>" class="updateCatStatus"><%=category.status == 0 ? "隐藏" : "公开"%></a></li>
			  </ul>
			</li>
			
	      </h4>
	      <p><%=category.description%></p>
	    </div></a>
	  </li>
<%if ( i % 4 == 0 ) {%>
	</ul>
</div>
<%}%>
<%}); %>
<%if ( i % 4 != 0 ) {%>
	</ul>
</div>
<%}%>

<div id="gallery" data-toggle="modal-gallery" data-target="#modal-gallery">

<%i = 0;
_.each( images, function(image) { %>
<%if ( i % 4 == 0 ) {%>
<div class="row-fluid">
	<ul class="thumbnails container">
<%}
i ++;
%>
	  <li class="span3 ">
	    <div class="thumbnail <%=image.status == 0 ? "" : "status_notpublic"%>">
	      <a href="<%=image.location%>" title="<%=image.title%>" data-gallery="gallery">
	         <img src="<%=image.thumbnail%>" alt="" class="img-polaroid">
	      </a>
	      <h5>
	         <a class="imgtitle" data-url="/gallery/img/<%=image.id%>"><%=image.title == null ? "空" : image.title%></a>

			<li id="fat-menu" class="dropdown pull-right">
			  <a href="#" id="drop3" role="button" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-th"></i><b class="caret"></b></a>
			  <ul class="dropdown-menu" role="menu" aria-labelledby="drop2">
			    <li><a href="#" data-id="<%=image.id%>" class="deleteImg"><i class="icon-trash"></i>删除</a></li>
			    <li><a href="#" data-id="<%=image.id%>" data-status="<%=image.status%>" class="updateImgStatus"><%=image.status == 0 ? "隐藏" : "公开"%></a></li>
			  </ul>
			</li>

	       </h5>
	      <p><a class="imgdes" data-name="" data-url="/gallery/img/<%=image.id%>"><%=image.description == null ? "空" : image.description%></a></p>
	    </div>
	  </li>
<%if ( i % 4 == 0 ) {%>
	</ul>
</div>
<%}%>
<%}); %>
<%if ( i % 4 != 0 ) {%>
	</ul>
</div>
<%}%>
</div>

<% if ( totolPages > 1 ) { %>

	<div class="pagination pagination-centered">
	  <ul>
	    <li><a href="#">上一页</a></li>
	<%for ( var i = 1; i <= totolPages; i ++ ) {%>
	    <li class="<%=currentPage == i ? "active" : "disabled"%>">
	       <a href="#"><%=i%></a>
	    </li>
	<%}%>
	    <li><a href="#">下一页</a></li>
	  </ul>
	</div>
<%}%>

</div>

<div id="modal-gallery" class="modal modal-gallery hide fade" tabindex="-1">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">&times;</a>
        <h3 class="modal-title"></h3>
    </div>
    <div class="modal-body"><div class="modal-image"></div></div>
    <div class="modal-footer">
 		<button id="toggle-fullscreen" class="btn btn-primary" data-toggle="button">全屏</button>
        <a class="btn modal-download" target="_blank">
            <i class="icon-download"></i>
            <span>下载</span>
        </a>
        <a class="btn btn-success modal-play modal-slideshow" data-slideshow="5000">
            <i class="icon-play icon-white"></i>
            <span>幻灯片播放</span>
        </a>
        <a class="btn btn-info modal-prev">
            <i class="icon-arrow-left icon-white"></i>
            <span>上一张</span>
        </a>
        <a class="btn btn-primary modal-next">
            <span>下一张</span>
            <i class="icon-arrow-right icon-white"></i>
        </a>
    </div>
</div>