<%if ( navBar ) {%>
<ul class="breadcrumb">
  <li><a href="#/gallery/cat/0">相册</a><%= needDivider ? "<span class='divider'>/</span>" : ""%></li>
<%var i = 0;
_.each( catParents, function(parent) { %>
  <li><a href="#/gallery/cat/<%=parent.id%>"><%=parent.title%></a><span class="divider">/</span></li>
<%});%>
  <li><a href="#/gallery/cat/<%=currentCat.id%>"><%=currentCat.title%></a></li>
</ul>
<%}%>
<div id="gallerymain">
<%var i = 0;
_.each( categories, function(category) { %>
<%if ( i % 4 == 0 ) {%>
<div class="row-fluid">
	<ul class="thumbnails container">
<%}
i ++;
%>
	  <li class="span3">
	    <div class="thumbnail align_center pic_frame">
	      <div class="pic_wrapper">
		      <a href="#/gallery/cat/<%=category.id%>"><img src="<%=category.thumbnail%>" alt=""></a>
		      <div class="pic_title_box">
		         <div class="pic_title">
		         <%=category.title%><br>
		         <%=category.description%>
		         </div>
		      </div>
		  </div>
	    </div>
	  </li>
<%if ( i % 4 == 0 ) {%>
	</ul>
</div>
<%}%>
<%}); %>
<%if ( i % 4 != 0 ) {%>
	</ul>
</div>
<%}%>

<div id="gallery" data-toggle="modal-gallery" data-target="#modal-gallery">

<%i = 0;
_.each( images, function(image) { %>
<%if ( i % 4 == 0 ) {%>
<div class="row-fluid">
	<ul class="thumbnails container">
<%}
i ++;
%>
	  <li class="span3">
	    <div class="thumbnail align_center pic_frame">
	      <div class="pic_wrapper">
		      <a href="#gallery/img/<%=image.id%>" title="<%=image.title%>" data-id="<%=image.id%>">
		         <img src="<%=image.thumbnail%>" alt="">
		      </a>
		      <div class="pic_title_box">
		         <div class="pic_title">
		         <%=image.title == null ? "" : image.title%><br>
		         <%=image.description == null ? "" : image.description%>
		         </div>
		      </div>
		   </div>
		   <div class="pic_controls">

		   </div>
	    </div>
    
	  </li>
<%if ( i % 4 == 0 ) {%>
	</ul>
</div>
<%}%>
<%}); %>
<%if ( i % 4 != 0 ) {%>
	</ul>
</div>
<%}%>
</div>

<% if ( totolPages > 1 ) { %>

	<div class="pagination pagination-centered">
	  <ul>
	    <li><a href="#" id="prePage">上一页</a></li>
	<%for ( var i = 1; i <= totolPages; i ++ ) {%>
	    <li class="<%=currentPage == i ? "active" : "disabled"%>">
	       <a href="#"><%=i%></a>
	    </li>
	<%}%>
	    <li><a href="#" id="nextPage">下一页</a></li>
	  </ul>
	</div>
<%}%>

</div>
