<div class="row">
  <div class="span6 offset3">
	<form class="form-horizontal">
	  <legend class="align_center">创建新的相册类别</legend>
	  <div class="control-group">
	    <label class="control-label" for="inputEmail">类别名词</label>
	    <div class="controls">
	      <input type="text" id="catTitle" placeholder="类别名词">
	    </div>
	  </div>
	  <div class="control-group">
	    <label class="control-label" for="inputPassword">类别描述</label>
	    <div class="controls">
	      <textarea id="catDes" rows="3"></textarea>
	    </div>
	  </div>
	  <div class="control-group">
	    <div class="controls">
	      <a class="btn btn-success" id="addCategory">创建</a>
	    </div>
	  </div>
	</form>
  </div>
</div>