<div class="form-signin">
    <h2 class="form-signin-heading">注册</h2>
    <input type="text" id="remail" class="input-block-level" placeholder="邮件地址">
    <input type="text" id="rname" class="input-block-level" placeholder="用户名">
    <input type="password" id="rpassword" class="input-block-level" placeholder="密码">
    <label class="checkbox">
    <input type="checkbox" value="remember-me"> Remember me
    </label>
    <button id="registerBtn" class="btn btn-large btn-primary" type="submit">注册</button>
</div>