<div class="container-fluid">
	<div class="row-fluid">
	  <legend class="align_center span12">New Post</legend>
	</div>
	<div class="row-fluid">
	  <label class="span1" >题目</label>
	  <input type="text" id="title" placeholder="题目" class="span11">
	</div>
	<div class="row-fluid">
	  <label class="span1">Tags</label>
	  <input type="text" id="tags" placeholder="Tags" class="span11">
	</div>
	<div class="row-fluid">
	  <label class="span1">状态</label>
	  <select id="status" class="span3">
		  <option value="1">草稿</option>
		  <option value="2">发布</option>
		  <option value="3">过期</option>
	  </select>
	</div>
	
	<div class="row-fluid">
	  <textarea name="content" class="span12" style="height:400px;display:block"></textarea>
	</div>
	<div class="row-fluid" style="padding-top: 10px;">
	    <a class="btn btn-success span1 offset6" id="addPost">保存</a>
	</div>
</div>